<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" crossorigin="anonymous"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH">

    <title>Admin panel</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mx-3">
        <strong th:text="${authUser.email}"></strong> with roles:
            <span th:text="${authUser.getRolesNames()}"></span>
    </span>
    <form action="/logout" method="post">
        <button type="submit" class="btn btn-link text-secondary">Logout</button>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0 bg-white">
            <ul class="nav nav-pills flex-column pt-3"
                id="myTab1"
                role="tablist"
                aria-orientation="vertical"
            >
                <li class="nav-item"
                    sec:authorize="hasRole('ROLE_ADMIN')"
                    role="presentation"
                >
                    <button class="nav-link w-100 text-start active"
                            type="button"
                            id="admin-tab-btn"
                            data-bs-toggle="pill"
                            data-bs-target="#admin-panel"
                            role="tab"
                            aria-controls="admin-panel"
                            aria-selected="true"
                    >
                        Admin
                    </button>
                </li>
                <li class="nav-item"
                    role="presentation">
                    <button class="nav-link w-100 text-start"
                            type="button"
                            id="user-tab-btn"
                            data-bs-toggle="pill"
                            data-bs-target="#user-panel"
                            role="tab"
                            aria-controls="user-panel"
                            aria-selected="false"
                    >
                        User
                    </button>
                </li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content col-10 pt-3 px-4 bg-light">

            <div sec:authorize="hasRole('ROLE_ADMIN')"
                 class="tab-pane active"
                 id="admin-panel"
                 role="tabpanel"
                 aria-labelledby="admin-tab-btn"
            >
                <!-- Admin panel -->

                <h2>Admin panel</h2>

                <ul class="nav nav-tabs" id="myTab2" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                type="button"
                                id="users-table-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#users-table"
                                role="tab"
                                aria-controls="users-table"
                                aria-selected="true"
                        >
                            Users table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="new-user-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#new-user"
                                type="button"
                                role="tab"
                                aria-controls="new-user"
                                aria-selected="false"
                        >
                            New user
                        </button>
                    </li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active"
                         id="users-table"
                         role="tabpanel"
                         aria-labelledby="users-table-tab"
                    >
                        <!-- All users table -->

                        <div class="card">
                            <h5 class="card-header">All users</h5>
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Salary</th>
                                        <th>Email</th>
                                        <th>Username</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${allUsers}">
                                        <td th:text="${user.getName()}"/>
                                        <td th:text="${user.getSurname()}"/>
                                        <td th:text="${user.getAge()}"/>
                                        <td th:text="${user.getSalary()}"/>
                                        <td th:text="${user.getEmail()}"/>
                                        <td th:text="${user.getUsername()}"/>
                                        <td th:text="${user.getRolesNames()}"/>
                                        <td>
                                            <button type="button"
                                                    class="btn btn-info btn-sm"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#modal"
                                                    th:onclick="|modalEditUser(${user.getId()}, false)|"
                                            >
                                                Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button"
                                                    class="btn btn-danger btn-sm"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#modal"
                                                    th:onclick="|modalEditUser(${user.getId()}, true)|"
                                            >
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Modal edit/delete user -->
                        <div class="modal fade"
                             tabindex="-1"
                             id="modal"
                             aria-labelledby="modalLabel"
                             aria-hidden="true"
                        >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal-title">Edit user</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form class="offset-3 col-6 mt-3 mb-2"
                                          id="modal-form"
                                          align="center"
                                          method="POST"
                                          action="/saveUser"
                                          th:object="${newUser}"
                                    >
                                        <div class="modal-body">
                                            <div class="mb-2">
                                                <label for="id" class="form-label fw-bold">ID</label>
                                                <input type="number" class="form-control bg-light"
                                                       th:field="*{id}" id="id" readonly>
                                            </div>

                                            <div class="mb-2">
                                                <label for="name" class="form-label fw-bold">First Name</label>
                                                <input type="text" class="form-control"
                                                       th:field="*{name}" id="name"
                                                       minlength="2" maxlength="50" required>
                                            </div>

                                            <div class="mb-2">
                                                <label for="surname" class="form-label fw-bold">Last Name</label>
                                                <input type="text" class="form-control"
                                                       th:field="*{surname}" id="surname"
                                                       minlength="2" maxlength="50" required>
                                            </div>

                                            <div class="mb-2">
                                                <label for="age" class="form-label fw-bold">Age</label>
                                                <input type="number" class="form-control"
                                                       th:field="*{age}" id="age"
                                                       min="0" max="150" required>
                                            </div>

                                            <div class="mb-2">
                                                <label for="salary" class="form-label fw-bold">Salary</label>
                                                <input type="number" class="form-control"
                                                       th:field="*{salary}" id="salary" required>
                                            </div>

                                            <div class="mb-2">
                                                <label for="email" class="form-label fw-bold">Email</label>
                                                <input type="email" class="form-control"
                                                       th:field="*{email}" id="email">
                                            </div>

                                            <div class="mb-2">
                                                <label for="username" class="form-label fw-bold">Login/username</label>
                                                <input type="text" class="form-control"
                                                       th:field="*{username}" id="username" required>
                                            </div>

                                            <div class="mb-2">
                                                <label for="password" class="form-label fw-bold">Password (bcrypt)</label>
                                                <input type="text" class="form-control"
                                                       th:field="*{password}" id="password" required>
                                            </div>

                                            <div class="mb-2">
                                                <label for="newRoles" class="form-label fw-bold">Roles</label>
                                                <select class="form-control" id="newRoles" th:name="roles" size="3" multiple>
                                                    <option th:each="role : ${allRoles}"
                                                            th:value="${role.getId()}"
                                                            th:text="${role.getNameWithoutPrefix()}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" id="modal-action-btn">Edit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane"
                         id="new-user"
                         role="tabpanel"
                         aria-labelledby="new-user-tab"
                    >
                        <!-- Add new user -->

                        <div class="card">
                            <h5 class="card-header">Add new user</h5>
                            <div class="card-body">
                                <form class="offset-4 col-4 mt-3 mb-2"
                                      align="center"
                                      method="POST"
                                      action="/saveUser"
                                      th:object="${newUser}">
                                    <input type="hidden" th:field="*{id}"/>

                                    <div class="mb-2">
                                        <label for="name2" class="form-label fw-bold">First Name</label>
                                        <input type="text" class="form-control"
                                               th:field="*{name}" id="name2"
                                               minlength="2" maxlength="50" required>
                                    </div>

                                    <div class="mb-2">
                                        <label for="surname2" class="form-label fw-bold">Last Name</label>
                                        <input type="text" class="form-control"
                                               th:field="*{surname}" id="surname2"
                                               minlength="2" maxlength="50" required>
                                    </div>

                                    <div class="mb-2">
                                        <label for="age2" class="form-label fw-bold">Age</label>
                                        <input type="number" class="form-control"
                                               th:field="*{age}" id="age2"
                                               min="0" max="150" required>
                                    </div>

                                    <div class="mb-2">
                                        <label for="salary2" class="form-label fw-bold">Salary</label>
                                        <input type="number" class="form-control"
                                               th:field="*{salary}" id="salary2" required>
                                    </div>

                                    <div class="mb-2">
                                        <label for="email2" class="form-label fw-bold">Email</label>
                                        <input type="email" class="form-control" th:field="*{email}" id="email2">
                                    </div>

                                    <div class="mb-2">
                                        <label for="username2" class="form-label fw-bold">Login/username</label>
                                        <input type="text" class="form-control"
                                               th:field="*{username}" id="username2" required>
                                    </div>

                                    <div class="mb-2">
                                        <label for="password2" class="form-label fw-bold">Password (bcrypt)</label>
                                        <input type="text" class="form-control"
                                               th:field="*{password}" id="password2" required>
                                    </div>

                                    <div class="mb-2">
                                        <label for="newRoles2" class="form-label fw-bold">Roles</label>
                                        <select class="form-control" id="newRoles2" name="roles" size="3" multiple>
                                            <option th:each="role : ${allRoles}"
                                                    th:value="${role.getId()}"
                                                    th:text="${role.getNameWithoutPrefix()}"></option>
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-success">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="user-panel" role="tabpanel" aria-labelledby="user-tab-btn">
                <!-- User info panel -->

                <h2>User information page</h2>

                <div class="card">
                    <h5 class="card-header">About user</h5>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Salary</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:object="${authUser}">
                                    <td th:text="*{id}"/>
                                    <td th:text="*{name}"/>
                                    <td th:text="*{surname}"/>
                                    <td th:text="*{age}"/>
                                    <td th:text="*{salary}"/>
                                    <td th:text="*{email}"/>
                                    <td th:text="*{username}"/>
                                    <td th:text="*{getRolesNames()}"/>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>

<script th:inline="javascript">
    window.addEventListener("load", userPageActivate, true);

    // активировать User button и panel, если вход User`a
    function userPageActivate() {
        if (document.getElementById('admin-tab-btn') == null) {
            document.getElementById('user-tab-btn').classList.add('active');
            document.getElementById('user-panel').classList.add('active');
            document.title = "User page";
        }
    }

    function modalEditUser(id, isDelete) {
        let user = [[${allUsers}]].find(u => u.id === id);
        if (user == null) return;

        document.getElementById('modal-title').innerText = (isDelete) ? 'Delete user' : 'Edit user';
        document.getElementById('modal-action-btn').innerText = (isDelete) ? 'Delete' : 'Edit';
        document.getElementById('modal-action-btn').classList.replace(
                                                            (isDelete) ? 'btn-primary' : 'btn-danger',
                                                            (isDelete) ? 'btn-danger' : 'btn-primary');

        document.getElementById('modal-form').action = (isDelete) ? '/deleteUser?id=' + id : "/saveUser";
        document.getElementById('modal-form').method = (isDelete) ? 'GET' : 'POST';

        document.getElementById('id').value = user.id;

        setValuesAndTurnReadonly([
            ['name', user.name],
            ['surname', user.surname],
            ['age', user.age],
            ['salary', user.salary],
            ['email', user.email],
            ['username', user.username],
            ['password', user.password]
        ], isDelete);

        let newRolesSel = document.getElementById('newRoles');
        newRolesSel.options[0].selected = user.roles.find(r => r.name === "ROLE_ADMIN");
        newRolesSel.options[1].selected = user.roles.find(r => r.name === "ROLE_USER");
        newRolesSel.disabled = isDelete;
    }

    function setValuesAndTurnReadonly(idValuesArr, isReadonly) {
        for (const pair of idValuesArr) {
            let el = document.getElementById(pair[0]);
            el.value = pair[1];
            el.readOnly = isReadonly;
            if (isReadonly) {
                el.classList.add('bg-light');
            } else {
                el.classList.remove('bg-light');
            }
        }
    }
</script>

</body>
</html>