<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <style>
        .logoutblock {
            text-align: right;
            width: 550px;
        }
    </style>
</head>
<body>
<div class="logoutblock">
<!--    <button onclick="window.location.href = '/logout'">Logout</button>-->

    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>

<h1 th:text="${user.name} + ', welcome to your profile page!'"/>

<div style="width: 800px;">
    <div style="text-align: right; float: left; padding-right: 10px">
        <p><strong>ID</strong>:</p>
        <p><strong>Name</strong>:</p>
        <p><strong>Surname</strong>:</p>
        <p><strong>Age</strong>:</p>
        <p><strong>Salary</strong>:</p>
        <p><strong>Email</strong>:</p>
        <p><strong>Username</strong>:</p>
        <p><strong>Password (bcrypt)</strong>:</p>
        <p><strong>Roles</strong>:</p>
    </div>
    <div style="float: left;">
        <p><span th:text="${user.id}"></span></p>
        <p><span th:text="${user.name}"></span></p>
        <p><span th:text="${user.surname}"></span></p>
        <p><span th:text="${user.age}"></span></p>
        <p><span th:text="${user.salary}"></span></p>
        <p><span th:text="${user.email}"></span></p>
        <p><span th:text="${user.username}"></span></p>
        <p><span th:text="${user.password}"></span></p>
        <ul>
            <li th:each="role : ${user.roles}" th:text="${role.getNameWithoutPrefix()}" />
        </ul>
    </div>
</div>

</body>
</html>